<h1>New Order</h1>

<%= form_with model: @order do |f| %>
  <p>
    <%= f.label :details %>
    <%= f.text_field :details %>
  </p>

  <p>
    <%= f.label :count %>
    <%= f.number_field :count %>
  </p>

  <%= f.submit "Create Order" %>
<% end %>
